<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Aardvark Valley Institute</title>
  <link rel="icon" type="image/x-icon" href="/book-solid.svg">
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>