<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        
        <%- include('./partials/navbar.ejs') %>

        <section id="not-found">
            <div class="section-inner">
                <h1>404 error</h1>
                <p>OOPS, page not found!</p>
            </div>
        </section>

        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>