<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>  

  <main class="content">
    
    <section id="welcome">
      <div class="section-inner">
        <h1>Welcome to Aardvark Valley Institute</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde cum dignissimos cupiditate at doloremque, veniam velit, tenetur quasi debitis placeat corrupti autem laboriosam atque totam. Ut sed modi pariatur assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum maxime beatae qui quod. Amet minus accusantium nesciunt provident, sint tempore ratione aliquam sed harum labore possimus sit laudantium nisi.</p>
      </div>
    </section>

    <section id="about-us">
      <div class="section-inner">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit Aliquam nobis, laborum nisi, totam quis, illo a laboriosam eos iusto nam recusandae facilis tempora fugit nesciunt minus debitis fugiat repellendus libero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa non ex debitis maxime reiciendis. Totam ea quaerat unde saepe voluptatibus deserunt quia natus quo quae optio. Doloremque odit cumque voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ducimus iusto, labore, quae debitis cum, accusamus exercitationem dolore quisquam adipisci pariatur minima suscipit deserunt. At aut impedit maxime earum magni.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi debitis repellat facilis id illum excepturi sed ea perferendis odit qui eius, explicabo impedit culpa vero esse animi alias accusamus quaerat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum nisi quaerat autem placeat, mollitia, quam recusandae beatae est voluptas deleniti adipisci molestias id error veritatis. Nulla totam sed optio eius!</p>
        <p>Lorem ipsum, Provident, ea vero rem modi quaerat minima iure perspiciatis quas alias deleniti ipsa ullam commodi corporis, fugit eveniet eligendi dicta blanditiis vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. At atque culpa aperiam deleniti doloremque ea corrupti pariatur eaque unde distinctio magnam, qui beatae maxime, voluptates quae dolores dolorum sit praesentium?</p>
      </div>
    </section>

    <section id="contact">
      <div class="section-inner">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur voluptas sit molestiae labore soluta suscipit sed eveniet itaque consectetur saepe accusamus nobis modi, voluptatum aspernatur inventore laudantium nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos eveniet, blanditiis tempore sequi et laudantium reprehenderit repellat corporis molestias. Deleniti incidunt modi delectus vel pariatur veritatis qui. Possimus, sit velit.</p>
        <ul class="contact-list">
          <li><img src="address-book-regular.svg" alt="address icon" id="address">&nbsp;&nbsp;2350 Aardvark Ln, Indianapolis IN 46204&nbsp;&nbsp;</li>
          <li><img src="envelope-solid.svg" alt="email icon" id="email">&nbsp;&nbsp;aardvarkgroup@aardvarkvalley.edu&nbsp;&nbsp;</li>
          <li><img src="phone-solid.svg" alt="phone icon" id="phone">&nbsp;&nbsp;1-800-555-6688</li>
        </ul>
        <ul class="contact-list">
          <li><img src="facebook-f.svg" alt="facebook icon" id="facebook"></li>
          <li><img src="discord.svg" alt="discord icon" id="discord"></li>
          <li><img src="linkedin-in.svg" alt="linked in icon" id="linkedin"></li>
          <li><img src="instagram.svg" alt="instagram icon" id="instagram"></li>
          <li><img src="x-twitter.svg" alt="twitter x icon" id="twitter"></li>
        </ul>
      </div>
    </section>
  </main>
  <%- include("./partials/footer.ejs") %>

</body>

</html>